websvccommon/websvc.saas.api/test/unit/src/org/netbeans/modules/websvc/saas/util/testwadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	     xsi:schemaLocation="http://wadl.dev.java.net/2009/02 
                    ../../../../../../../../../../websvc.saas.api/src/org/netbeans/modules/websvc/saas/model/wadl200902.xsd"
	     xmlns="http://wadl.dev.java.net/2009/02">
    <grammars/> 
    <resources base="http://www.youtube.com/">
	<resource path="api2_rest">
	    <method name="GET" id="youtube.listByTag">
		<doc xml:lang="en">
		    Lists all videos that have the specified tag. 
		    
		    More at:
		    http://youtube.com/dev_api_ref?m=youtube.videos.list_by_tag
		</doc>
		<request>
		    <param name="method" type="xsd:string" style="query" required="true" fixed="youtube.videos.list_by_tag" default="youtube.videos.list_by_tag">
			<doc xml:lang="en">
                            Read-only. Indicates that the method is youtube.videos.list_by_tag.
                        </doc>
		    </param>
		    <param name="dev_id" type="xsd:string" style="query" required="true">
			<doc xml:lang="en">
                            Your developer ID. If you don't have one, you can request one here:
                            http://youtube.com/my_profile_dev
                        </doc>
		    </param>
		    <param name="tag" type="xsd:string" style="query" required="true">
			<doc xml:lang="en">The tag to search for.</doc>
		    </param>
		    <param name="page" type="xsd:string" style="query" required="false">
			<doc xml:lang="en">
                            Optional. The &quot;page number&quot; of results you want to retrieve: 1, 2, 3, etc.
                        </doc>
		    </param>
		    <param name="per_page" type="xsd:string" style="query" required="false">
			<doc xml:lang="en">Optional. The number of results you want to retrieve per page.
                            Default is 20, maximum is 100.
                        </doc>
		    </param>
		</request>
		<response>
                    <representation>
                        <mediaType></mediaType>
                    </representation>
		</response>
	    </method>
	    <method name="GET" id="youtube.listFeatured">
		<doc xml:lang="en">
		    Lists the most recent 25 videos that have been featured on the front page of the YouTube site.
		    
		    More at:
		    http://youtube.com/dev_api_ref?m=youtube.videos.list_featured
		</doc>
		<request>
		    <param name="method" type="xsd:string" style="query" required="true" fixed="youtube.videos.list_featured" default="youtube.videos.list_featured">
			<doc xml:lang="en">
                            Read-only. Indicates that the method is youtube.videos.list_featured.
                        </doc>
		    </param>
		    <param name="dev_id" type="xsd:string" style="query" required="true">
			<doc xml:lang="en">
                            Your developer ID. If you don't have one, you can request one here:
                            http://youtube.com/my_profile_dev
                        </doc>
		    </param>
		</request>
		<response>
		</response>
	    </method>
	    <method name="GET" id="youtube.listPopular">
		<doc xml:lang="en">
		    Lists the most popular videos in the specified time range.
                    
		    More at:
		    http://youtube.com/dev_api_ref?m=youtube.videos.list_popular
		</doc>
		<request>
		    <param name="method" type="xsd:string" style="query" required="true" fixed="youtube.videos.list_popular" default="youtube.videos.list_popular">
			<doc xml:lang="en">
                            Read-only. Indicates that the method is youtube.videos.list_popular.
                        </doc>
		    </param>
		    <param name="dev_id" type="xsd:string" style="query" required="true">
			<doc xml:lang="en">
                            Your developer ID. If you don't have one, you can request one here:
                            http://youtube.com/my_profile_dev
                        </doc>
		    </param>
		    <param name="time_range" type="xsd:string" style="query" required="true">
			<doc xml:lang="en">
                            The period of time to evaluate for the most
                            popular videos. Values can be day, week, month, all.</doc>
		    </param>
		</request>
		<response>
		</response>
	    </method>
	    <method name="GET" id="youtube.getDetails">
		<doc xml:lang="en">
		    Displays the details for a video.
		    
		    More at: 
		    http://youtube.com/dev_api_ref?m=youtube.videos.getDetails
		</doc>
		<request>
		    <param name="method" type="xsd:string" style="query" required="true" fixed="youtube.videos.get_details" default="youtube.videos.get_details">
			<doc xml:lang="en">
                            Read-only. Indicates that the method is youtube.videos.getDetails.
                        </doc>
		    </param>
		    <param name="dev_id" type="xsd:string" style="query" required="true">
			<doc xml:lang="en">
                            Your developer ID. If you don't have one, you can request one here:
                            http://youtube.com/my_profile_dev
                        </doc>
		    </param>
		    <param name="video_id" type="xsd:string" style="query" required="true">
			<doc xml:lang="en"> 
                            The ID of the video to get details for. 
                            You can get an ID by calling one of the supported slist APIs, like
                            listPopular, listFeatured, or listByTag. 
                        </doc>
		    </param>
		</request>
		<response>
		</response>
	    </method>
	</resource>
    </resources> 

</application>
