java/performance/enterprise/test/qa-functional/data/TravelReservationService/ReservationPartnerServices/src/conf/wsdl/AirlineReservationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema" 
             xmlns:tns="http://www.sun.com/javaone/05/AirlineReservationService" 
             xmlns:ota="http://www.opentravel.org/OTA/2003/05" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
             targetNamespace="http://www.sun.com/javaone/05/AirlineReservationService">
    <types>
        <xs:schema targetNamespace="http://www.sun.com/javaone/05/AirlineReservationService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:air="http://www.sun.com/javaone/05/AirlineReservationService">
            <xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_TravelItinerary.xsd"/>
        </xs:schema>
    </types>

    <message name="ReserveAirlineIn">
        <part name="itinerary" element="ota:TravelItinerary"/>
    </message>

    <message name="CancelAirlineIn">
        <part name="itinerary" element="ota:ItineraryRef"/>
    </message>

    <message name="CancelAirlineOut">
        <part name="succeeded" element="ota:CancellationStatus"/>
    </message>

    <message name="AirlineReservedIn">
        <part name="itinerary" element="ota:TravelItinerary"/>
    </message>

    <portType name="AirlineReservationPortType">
        <operation name="reserveAirline">
            <input message="tns:ReserveAirlineIn"/>
        </operation>
        <operation name="cancelAirline">
            <input message="tns:CancelAirlineIn"/>
            <output message="tns:CancelAirlineOut"/>
        </operation>
    </portType>

    <portType name="AirlineReservationCallbackPortType">
        <operation name="airlineReserved">
            <input message="tns:AirlineReservedIn"/>
        </operation>
    </portType>

    <binding name="AirlineReservationSoapBinding" type="tns:AirlineReservationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="reserveAirline">
            <soap:operation soapAction="http://www.sun.com/javaone/05/AirlineReservationService/reserveAirline" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="cancelAirline">
            <soap:operation soapAction="http://www.sun.com/javaone/05/AirlineReservationService/cancelAirline" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <binding name="AirlineReservationCallbackSoapBinding" type="tns:AirlineReservationCallbackPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="airlineReserved">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    
    <wsdl:service xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="AirlineReservationService">
        <wsdl:port name="AirlineReservationPortTypePort" binding="tns:AirlineReservationSoapBinding">
            <soap:address location="http://localhost:8080/webservice/AirlineReservationService"/>
        </wsdl:port>
    </wsdl:service>
    
    <plnk:partnerLinkType name="AirlineReservationPartnerLinkType">
        <plnk:role name="AirlineReservationServiceRole"
                   portType="tns:AirlineReservationPortType">
        </plnk:role>
        <plnk:role name="AirlineReservationCallbackServiceRole"
                   portType="tns:AirlineReservationCallbackPortType">
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
