java/maven.grammar/src/org/netbeans/modules/maven/grammar/nbm-1.0.0.xsd

<?xml version="1.0"?>
<!--
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!--
File was generated from nbm-maven-plugin (https://github.com/mojohaus/nbm-maven-plugin)
- checkout the plugin source
- modify `src/main/mdo/descriptor.mdo` and add
  `xml.namespace="http://maven.apache.org/POM/4.0.0"` to the model root element
  Note: the namespace was taken from the original file from the netbeans sources
- Run: `mvn modello:xsd`
-->
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.8.3,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://maven.apache.org/POM/4.0.0" targetNamespace="http://maven.apache.org/POM/4.0.0">
  <xs:element name="nbm" type="NetBeansModule">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Describes the layout, dependencies and packaging of a NetBeans module.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NetBeansModule">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Describes the layout, dependencies and packaging of a NetBeans module.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="moduleType" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
                    &lt;p&gt;DEPRECATED, use the plugin configuration instead. Type of the module. Possible values are &lt;/p&gt;
                    &lt;p&gt;&lt;b&gt;autoload&lt;/b&gt; - Such a module is automatically enabled when some other module requires it and automatically disabled otherwise.&lt;/p&gt;
                    &lt;p&gt;&lt;b&gt;eager&lt;/b&gt; - This module type gets automatically enabled when all it&apos;s dependencies are satisfied. Disabled otherwise.&lt;/p&gt;
                    &lt;p&gt;&lt;b&gt;normal&lt;/b&gt; - This is the default value. This kind of module is enabled/disabled manually by the user. It installs enabled.&lt;/p&gt;
                            </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="codeNameBase" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">DEPRECATED, use the plugin configuration instead. Codenamebase of the module. Primary identification of the module. Usually the package name. Eg. &quot;org.codehaus.mevenide.project&quot;. 
                    If not defined here, the default value is constructed from groupId and artifactId.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="cluster" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">DEPRECATED, use the plugin configuration instead. Each modules should belong to a cluster. A cluster is a group of related modules. For individual modules it&apos;s not that important. Refer to netbeans.org documentation for more details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="requiresRestart" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">DEPRECATED, use the plugin configuration instead. Determines if the module requires restart of the IDE/platform upon installation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="manifest" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">DEPRECATED, use the plugin configuration instead. Location of the manifest file with NetBeans specific manifest entries.
                        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="homepageUrl" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">DEPRECATED, use the plugin configuration instead. Homepage URL of the module. Is accessible from NetBeans UI upon installation, should point to place with additional information about the functionality. If not defined, it defaults to POM&apos;s url element.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="distributionUrl" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">DEPRECATED, use the plugin configuration instead. Http URL of the location where the module can be downloaded from the internet. This value put into the NBM and used when generating the Autoupdate Site. Should point directly to the NBM download.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="author" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">DEPRECATED, use the plugin configuration instead. Author of the module. Is used when generating the NBM file.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="licenseName" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">DEPRECATED, use the plugin configuration instead. Name of the license. If the user already agreed to the same license before, he/she won&apos;t be asked again to agree.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="licenseFile" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">DEPRECATED, use the plugin configuration instead. Path to the license agreement file.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="libraries">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">groupId:artifactId of artifacts that shall become part of the module and be added on the classpath 
                    (ClassPath: manifest entry gets created and the jar is included in the nbm file)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="library" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="dependencies">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">DEPRECATED, use the plugin configuration instead. List of module dependencies. The plugin will use it to Generate the OpenIDE-Module-Module-Dependencies manifest entry.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dependency" minOccurs="0" maxOccurs="unbounded" type="Dependency"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="nbmResources">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">DEPRECATED, use the plugin configuration instead. List of resources that shall be also included into the Nbm file along with the module jar and library jars.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nbmResource" minOccurs="0" maxOccurs="unbounded" type="NbmResource"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Dependency">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description"></xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">groupId:artifactId of the dependency defined in the POM (or a transitive dependency)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="type" type="xs:string" default="spec">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
                        Type of module dependency. 3 possible values allowed.
                        &lt;p&gt;&lt;b&gt;spec&lt;/b&gt; - specification dependency, module can only use public APIs in public packages. Works with the version defined and any later version.&lt;/p&gt;
                        &lt;p&gt;&lt;b&gt;impl&lt;/b&gt; - implementation dependency, module can use any class in the dependency module, but works with just the one version of the module.&lt;/p&gt;
                        &lt;p&gt;&lt;b&gt;loose&lt;/b&gt; - similar to spec, but isa very loose connection, no version is required, just the module presence.&lt;/p&gt;
                        
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="explicitValue" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
                        The plugin tries to resolve the correct module name and module specification/implementation version by examining the
                        dependency jar&apos;s manifest.
                        You can override this behaviour by explicitly defining the value here. For example org.openide.io/1 &amp;gt; 10.1 for a &quot;spec&quot; type of dependency.
          
                                      
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="NbmResource">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="baseDirectory" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">The base directory, all paths within the nbm file will be the same as paths within the base directory.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="relativeClusterPath" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">A relative path to be added to cluster root where the files will be copied to.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="includes">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Include pattern, what shall be included in the nbm. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="include" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="excludes">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Exclude pattern, what files within the basedir shall not be included. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="exclude" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>