ide/xml.schema.completion/test/unit/src/org/netbeans/modules/xml/schema/completion/resources/Main2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/Main"
            xmlns:tns="http://xml.netbeans.org/schema/Main"
            elementFormDefault="qualified">
    <xsd:complexType name="MainType">
        <xsd:sequence>
            <xsd:element name="M1"/>
            <xsd:element name="M2"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
