ide/xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/validator/resources/bindingTests/operations/NewWebService_xsd_1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">
<xs:element name="operation" type="tns:operation"></xs:element>
<xs:element name="operationResponse" type="tns:operationResponse"></xs:element>
<xs:complexType name="operation"><xs:sequence><xs:element name="Name" type="xs:string" minOccurs="0"></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="operationResponse"><xs:sequence><xs:element name="return" type="xs:string" minOccurs="0"></xs:element></xs:sequence></xs:complexType>
</xs:schema>