ide/xml.xdm/test/unit/src/org/netbeans/modules/xml/xdm/diff/schema4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
     targetNamespace="http://www.example.com/test"
     xmlns="http://www.w3.org/2001/XMLSchema">
     <element name="test4" other="abc"/>
     <element name="test3" other="abc"/>
     <element name="test5" other="abc"/>
     <element name="test6" other="abc"/>     
</schema>