ide/xml.xdm/test/unit/src/org/netbeans/modules/xml/xdm/diff/TestOperations_after.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="test/operations" 
targetNamespace="test/operations">

  <types>
  </types>    
  <message name="message1">
    <part name="m1-part1" type="xsd:string"/>
  </message>
  <message name="message2">
    <part name="m2-part1" type="xsd:string"/>
  </message>
  
  <portType name="TestOperation">
    <operation name="op1">
      <output message="tns:message1"/>
    </operation>
    <operation name="op2">
      <output message="tns:message1"/>
      <input message="tns:message2"/>
    </operation>
    <operation name="op3">
      <input message="tns:message2"/>
      <output message="tns:message1"/>
    </operation>
    <operation name="op4">
      <input message="tns:message2"/>
    </operation>
  </portType>
	
</definitions>
