ide/xml.schema.model/test/unit/src/org/netbeans/modules/xml/schema/model/resources/reformat_before.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="http://xml.netbeans.org/examples/LoanApplication"
           xmlns="http://xml.netbeans.org/examples/LoanApplication"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified">
    
    <xs:element name="autoLoanApplication"  >
        <xs:annotation>
            <xs:documentation>A loan application xml schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>                
                <xs:element name="applicant" type="ApplicantType" maxOccurs="2"/>                
                <xs:element name="tradeIn" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="vehicle" type="CarType"/>                            
                            <xs:element name="monthlyPayment">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="2"/>
                                        <xs:minInclusive value="0.00"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="LoanType"/>
            <xs:attribute name="term" type="xs:int"/>
            <xs:attribute name="amount" type="xs:decimal"/>
            <xs:attribute name="application" type="ApplicationType"/>
            <xs:attribute name="state" type="StateType"/>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="LoanType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="new"/>
            <xs:enumeration value="used dealer"/>
            <xs:enumeration value="used private"/>
            <xs:enumeration value="refinance"/>
            <xs:enumeration value="lease buyout"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StateType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AZ"/>
            <xs:enumeration value="CA"/>
            <xs:enumeration value="NY"/>
            <xs:enumeration value="TX"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ApplicantType">
        <xs:sequence>
            <xs:element name="name">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="first" type="xs:string"/>
                        <xs:element name="middle" type="xs:string"/>
                        <xs:element name="last" type="xs:string"/>
                        <xs:element name="suffix">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Jr"/>
                                    <xs:enumeration value="Sr"/>
                                    <xs:enumeration value="II"/>
                                    <xs:enumeration value="III"/>
                                    <xs:enumeration value="IV"/>
                                    <xs:enumeration value="V"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="residence" type="ResidenceType" maxOccurs="unbounded"/>
            <xs:element name="employment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="unemployed"/>
                                    <xs:enumeration value="employed"/>
                                    <xs:enumeration value="self employed"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="detail" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="occupation" type="xs:string"/>
                                    <xs:element name="employer">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="name"/>
                                                <xs:element name="address" type="AddressType"/>
                                                <xs:element name="lengthOfEmployment" type="DurationType"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="workPhone" type="PhoneNumberType"/>
                                    <xs:element name="grossMonthlyIncome">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:minInclusive value="0.00"/>
                                                <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="supplementalIncome">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="source">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="alimony"/>
                                    <xs:enumeration value="child support"/>
                                    <xs:enumeration value="investments"/>
                                    <xs:enumeration value="part time job"/>
                                    <xs:enumeration value="rental property"/>
                                    <xs:enumeration value="retirement income"/>
                                    <xs:enumeration value="social security"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="grossMonthlyIncome">
                            <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:minInclusive value="0.00"/>
                                    <xs:fractionDigits value="2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ssn">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{3}-\d{2}-\d{4}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="birthDate" type="xs:date"/>
        <xs:attribute name="homePhone" type="xs:string"/>
        <xs:attribute name="cellPhone" type="xs:string"/>
        <xs:attribute name="email" type="xs:string"/>
    </xs:complexType>
    
    <xs:complexType name="AddressType">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="address1"/>
        <xs:attribute name="address2"/>
        <xs:attribute name="city"/>
        <xs:attribute name="state" type="StateType"/>
        <xs:attribute name="zip">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="5"/>
                        <xs:maxLength value="5"/>
                        <xs:pattern value="\d{5}"/>
                    </xs:restriction>
                </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="PhoneNumberType">
        <xs:attribute name="areaCode"/>
        <xs:attribute name="exchange"/>
        <xs:attribute name="number"/>
        <xs:attribute name="extension"/>
    </xs:complexType>
    
    <xs:complexType name="OccupancyType">
        <xs:sequence>
            <xs:element name="lengthOfOccupancy" type="DurationType"/>
        </xs:sequence>
        <xs:attribute name="movedIn" type="xs:date"/>
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="rent"/>
                    <xs:enumeration value="own"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="payment">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:fractionDigits value="2"/>
                    <xs:minInclusive value="0.00"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="ResidenceType">
        <xs:sequence>
            <xs:element name="address" type="AddressType"/>
            <xs:element name="occupancy" type="OccupancyType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CarType">
        <xs:attribute name="year" type="xs:gYear"/>
        <xs:attribute name="make" type="xs:string"/>
        <xs:attribute name="model" type="xs:string"/>
        <xs:attribute name="vin" type="xs:string"/>
    </xs:complexType>
    
    <xs:complexType name="DurationType">
        <xs:attribute name="years" type="xs:positiveInteger"/>
        <xs:attribute name="months" type="xs:positiveInteger"/>
    </xs:complexType>
    
    <xs:simpleType name="ApplicationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="individual"/>
            <xs:enumeration value="joint"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="phoneNumberType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>


