ide/xml.schema.model/test/unit/src/org/netbeans/modules/xml/schema/model/resources/ReorderTest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.example.com/OrgChart">

  <xsd:element name="OrgChart">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CompanyLogo1"/>
        <xsd:element name="Office1" type="OfficeType" maxOccurs="unbounded"/>
        <xsd:element name="CompanyLogo2"/>
        <xsd:element name="Office2" type="OfficeType" maxOccurs="unbounded"/>
        <xsd:element name="Office3" type="OfficeType" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
