ide/xml.schema.model/test/unit/src/org/netbeans/modules/xml/schema/model/resources/SchemaRefCacheTest_imported.xsd

<?xml version="1.0" encoding="windows-1252"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/imported"
            elementFormDefault="qualified">
    <xsd:complexType name="importedType">
        <xsd:sequence>
            <xsd:element name="importedElement" type="xsd:string"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="importedAttr" type="xsd:string"/>
    </xsd:complexType>
</xsd:schema>
