ide/xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/resources/HotelReservationService2.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="http://www.sun.com/javaone/05/HotelReservationService" 
xmlns:ota="http://www.opentravel.org/OTA/2003/05" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/" 
targetNamespace="http://www.sun.com/javaone/05/HotelReservationService">

	<types>
		<xs:schema targetNamespace="http://www.sun.com/javaone/05/HotelReservationService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:air="http://www.sun.com/javaone/05/HotelReservationService">
			<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_TravelItinerary2.xsd"/>
		</xs:schema>
	</types>
	
	<message name="ReserveHotelIn">
		<part name="itinerary" element="ota:TravelItinerary2"/>
	</message>
	<message name="CancelHotelIn">
		<part name="itinerary" element="ota:ItineraryRef2"/>
	</message>
	<message name="CancelHotelOut">
		<part name="succeeded" element="ota:CancellationStatus2"/>
	</message>
	<message name="HotelReservedIn">
		<part name="itinerary" element="ota:TravelItinerary2"/>
	</message>
	
	<portType name="HotelReservationPortType">
		<operation name="reserveHotel">
			<input message="tns:ReserveHotelIn"/>
		</operation>
		<operation name="cancelHotel">
			<input message="tns:CancelHotelIn"/>
			<output message="tns:CancelHotelOut"/>
		</operation>
	</portType>
		
	
	<portType name="HotelReservationCallbackPortType">
		<operation name="hotelReserved">
			<input message="tns:HotelReservedIn"/>
		</operation>
	</portType>	
		
	
	
	<binding name="HotelReservationSoapBinding" type="tns:HotelReservationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="reserveHotel">
			<soap:operation soapAction="http://www.sun.com/javaone/05/HotelReservationService/reserveHotel" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="cancelHotel">
			<soap:operation soapAction="http://www.sun.com/javaone/05/HotelReservationService/cancelHotel" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	<binding name="HotelReservationCallbackSoapBinding" type="tns:HotelReservationCallbackPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="hotelReserved">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>				
	</binding>
	
	
	<service name="HotelReservationSoapService">
		<port name="HotelReservationSoapHttpPort" binding="tns:HotelReservationSoapBinding">
			<soap:address location="http://localhost:8080/webservice/HotelReservationService"/>
		</port>
	</service>
	

	<plnk:partnerLinkType name="HotelReservationPartnerLinkType">
		<plnk:role name="HotelReservationServiceRole" 
                    portType="tns:HotelReservationPortType">
		</plnk:role>
		<plnk:role name="HotelReservationCallbackServiceRole"
                    portType="tns:HotelReservationCallbackPortType">
		</plnk:role>		
	</plnk:partnerLinkType>		
	
</definitions>
