enterprise/websvc.rest/test/unit/src/org/netbeans/modules/websvc/rest/codegen/smart_selection_rest.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<ns2:application
        xmlns:ns2="http://research.sun.com/wadl/2006/10">
    <ns2:doc
        jersey:generatedBy="Jersey: 0.9-ea 08/22/2008 04:48 PM"
        xmlns:jersey="http://jersey.dev.java.net/"/>
	<ns2:grammars>
        <ns2:include href="schema1.xsd"/>
    </ns2:grammars>
    <ns2:resources base="http://192.168.0.104:8080/smart-selection-rest/rest">
        <ns2:resource path="/book">
            <ns2:doc><![CDATA[Server side adapter.]]>
            </ns2:doc>
            <ns2:resource path="/all">
                <ns2:method name="GET" id="getAllBooks">
                    <ns2:response>
                        <ns2:representation mediaType="application/xml" status="200"/>
                    </ns2:response>
                </ns2:method>
            </ns2:resource>
            <ns2:resource path="/by-name">
                <ns2:method name="GET" id="getBookByName">
                <ns2:request>
                    <ns2:param type="xs:string" style="query" name="name"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </ns2:request>
                <ns2:response>
                    <ns2:representation mediaType="application/xml" status="200"/>
                </ns2:response>
                </ns2:method>
            </ns2:resource>
        </ns2:resource>
    </ns2:resources>
</ns2:application>
