ide/xml.schema.model/test/unit/src/org/netbeans/modules/xml/schema/model/validation/SynchronousSample.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/SynchronousSample"
            xmlns:tns="http://xml.netbeans.org/schema/SynchronousSample"
            elementFormDefault="qualified">
    <xsd:import schemaLocation="importedBySynchronousSample.xsd" namespace="http://xml.netbeans.org/schema/newXMLSchema"/>
    <xsd:complexType name="simpleProcess">
        <xsd:sequence>
            <xsd:element name="paramA" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="typeA" type="tns:simpleProcess"/>
    
</xsd:schema>
