ide/xml/test/unit/src/org/netbeans/modules/xml/resources/GlobalElement.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://xml.netbeans.org/schema/newXmlSchema"
  xmlns:tns="http://xml.netbeans.org/schema/newXmlSchema"
 >
  <xsd:attribute name="gAttr1" type="xsd:string"/>
  <xsd:element name="gElem1" type="xsd:string"/>
  <xsd:complexType name="gComplexType1">
      <xsd:sequence>
         <xsd:element name="lElem1"/>
         <xsd:element ref="tns:gElem1"/>
      </xsd:sequence>
     <xsd:attribute name="lAttr1" type="xsd:string"/>
     <xsd:attribute ref="tns:gAttr1"/>
  </xsd:complexType>
  <xsd:element name="gElem2" type="tns:gComplexType1"></xsd:element>
</xsd:schema>